<form method="POST" action="/new">
  <input type="text" name="name" /><br/>
  <input type="text" name="breed" /><br/>
  <input type="text" name="age" /><br/>
  <input type="submit" value="submit"/>
</form>
